.about-author-img {
  /* height: 500px; */
  border-radius: 15px;
  width: 90%;
  min-width: 200px;
}

.about-author-container {
  flex: 50%;
}

.about-container {
  display: flex;
}

.about-text-container {
  flex: 50%;
  text-align: left;
  margin-left: 6rem;
}
