.about-author-img {
  /* height: 500px; */
  border-radius: 15px;
  width: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  min-width: 275px;
}

.about-author-container {
  flex: 50%;
}

.about-container {
  display: flex;
}

.about-text-container {
  flex: 50%;
  text-align: left;
  margin-left: 6rem;
}

@media (max-width: 900px) {
  .about-container {
    display: inline;
  }

  .about-author-img {
    margin-top: 10rem;
  }

  .about-text-container {
    margin-left: 0rem;
  }
}
