@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  /* Custom Property Declarations */
  --body-text-color: #e1be96;
  --decoration-text-color: #dda15e;
  --decoration-hover-text-color: #c17d42;
  --primary-bg-color: #0e1309;
  --secondary-bg-color: #283618;

  --heading-text-size: 28px;

  font-family: 'Quicksand', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  background-color: var(--primary-bg-color);
  color: var(--body-text-color);
  h1 {
    font-size: (--heading-text-size);
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
