@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* Custom Property Declarations */
  --faded-body-text-color: #e1be96c6;
  --body-text-color: #e1be96;
  --decoration-text-color: #dda15e;
  --decoration-hover-text-color: #c17d42;
  --secondary-text-color: #3d1308;
  --primary-bg-color: #0e1309;
  --secondary-bg-color: #283618;
  --form-bg-color: #89975c;
  /* --secondary-bg-color: #1b2511; */

  --heading-text-size: 50px;
  --subheading-1-text-size: 36px;
  --subheading-2-text-size: 30px;
  --body-text-size: 18px;

  --heading-font: "Philosopher", sans-serif;
  --body-font: "Quicksand", sans-serif;

  font-family: "Quicksand", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: unset;
}

body {
  margin: 0px;
  background-color: var(--primary-bg-color);
  color: var(--body-text-color);
}

.heading {
  font-size: var(--heading-text-size);
  font-family: var(--heading-font);
  font-weight: 700;
  font-style: normal;
}

.subheading-1 {
  font-size: var(--subheading-1-text-size);
  font-family: var(--heading-font);
  font-weight: 700;
  font-style: normal;
}

.subheading-2 {
  font-size: var(--subheading-2-text-size);
  font-family: var(--heading-font);
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0.25rem;
}

.body-text {
  font-size: var(--body-text-size);
  font-weight: 500;
}

.horizontal-centre {
  text-align: center;
  align-items: center;
}

.vertical-centre {
  display: inline-flex;
  align-items: center;
}

.page-margin-top {
  margin-top: 10rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.decorative-hr {
  width: 5%;
  height: 2px;
  border-radius: 20px;
  border: none;
  background-color: var(--body-text-color);
  margin-bottom: 2rem;
}

.top-left-radius {
  border-top-left-radius: 20px;
}

.top-right-radius {
  border-top-right-radius: 20px;
}

.help-text {
  font-size: 0.8rem;
  font-style: italic;
  /* font-weight: 200; */
  margin: 0px;
  margin-top: 0.25rem;
  font-family: "Nunito", sans-serif;
  color: var(--faded-body-text-color);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
