.search-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.chip-container {
  display: inline-block;
  width: 35%;
}

.searchbar-container {
  width: 55%;
  align-items: center;
  align-self: center;
  text-align: center;
  align-content: center;
}

.cards-container {
  margin-top: 3rem;
}
