/* Basic editor styles */
.editor-container {
  margin: 1rem;
  border-radius: 5px;
  border: 2px solid grey;
  background: white;
  min-height: 30rem;
}

.ProseMirror:focus {
  outline: none;
}

.menubar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menubar-container button {
    font-size: 18px;
    margin: 0.5rem;
    margin-right: 0.5rem;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.menubar-container button.is-active {
    background: #dadada;
    /* padding: 4px 4px; */
    border-radius: 3px;
}

.tiptap {
  padding: 0.25rem;
  border-top: 1px solid grey;
  background: white  border-radius: 0 0 0.25rem 0.25rem;
  min-height: 5rem;
  color: black;
}

.tiptap > * + * {
  margin-top: 0.75em;
}

.tiptap ul,
ol {
  padding: 0 1rem;
}

.tiptap h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

.tiptap code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.tiptap pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

.tiptap hr {
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}
