.form-container {
  margin: 0 auto;
  width: 70%;
  text-align: left;
  margin-bottom: 4rem;
}

.form-tab-container {
  margin: 0 auto;
  width: 70%;
  text-align: left;
}

.form-field {
  width: 100%;
  border: none;
  background: var(--form-bg-color);
  margin-top: 0.4rem;
  border-radius: 25px;
  padding: 0.5rem;
  font-family: "Quicksand", sans-serif;
  transition: 0.4s;
  box-sizing: border-box;
}

.form-field-container select {
  /* text-align-last: center;
  text-align: center; */
  padding-left: 20px;
}

.input-text {
  color: var(--secondary-text-color);
  padding: 0.5rem;
  border-radius: 25px;
}

.form-label {
  font-size: 0.95rem;
  font-weight: 500;
}

.form-field-container {
  margin-bottom: 1.25rem;
}

input[type="file"] {
  display: none;
}

.btn-upload-image {
  /* border: 1px solid var(--body-text-color); */
  border-radius: 50px;
  display: inline-block;
  padding: 0.8rem 3.5rem;
  cursor: pointer;
  background: #7d4017;
  transition-duration: 0.2s;
  box-shadow: 0 3px #291407;
}

.btn-upload-image:hover {
  background: #5d2e11;
}

.btn-upload-image:active {
  box-shadow: 0 1.5px #291407;
  transform: translateY(1px);
}

.upload-desc {
  margin-left: 1.5rem;
}

.file-name-text {
  font-size: 0.8rem;
  font-style: italic;
  /* font-weight: 200; */
  margin: 0px;
  margin-left: 1.25rem;
  margin-top: 0.5rem;
  font-family: "Nunito", sans-serif;
  color: var(--faded-body-text-color);
}
