.tabs-container {
  margin: 20px auto;
}

.tabs {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 5px 25px 0px 0px;
}

.tab.active {
  background-color: #ddd;
  animation: fade-in 1s ease-in 0s 1 normal forwards;
}

.tab-content {
  border: 1px solid #ddd;
  padding: 10px;
  animation: fade-in 1s ease-in 0s 1 normal forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
