.header-container {
  position: fixed;
  width: 100%;
  z-index: 1000000;
  background-color: var(--secondary-bg-color);
  height: 7.5rem;
  display: inline-flex;
}

.list-container {
  display: inline-flex;
  align-items: center;
}

.nav-container {
  margin: auto;
}

.nav-list {
  padding-left: 0;
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav-link {
  color: var(--decoration-hover-text-color);
  text-decoration: none;
}

.nav-item {
  display: inline;
  position: relative;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-item::before {
  content: attr(data-text);
  position: absolute;
  z-index: 1;
  color: var(--decoration-text-color);
  pointer-events: none;

  height: 100%;
  overflow: hidden;
  transition: 0.9s ease-out height;
}

.nav-item:hover::before {
  height: 0;
}

.nav-logo-img {
  width: 155px;
  position: relative;
  top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  transition: 0.5s ease-out transform;
}

.nav-logo-img:hover {
  transform: scale(1.05);
}

/* trying out menu display */
.hamburger,
.nav__close {
  font-size: 2.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.show-menu {
  display: block;
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  /* border-radius: 20px; */
  /* width: 100%; */
  /* transition: 0.9s ease-out width; */
}

.hide-menu {
  display: none;
  /* width: 0%; */
  /* transition: 0.9s ease-out width; */
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.hide-burger {
  display: none;
}
