.header-container {
  position: fixed;
  width: 100%;
  z-index: 1000000;
  background-color: var(--secondary-bg-color);
  height: 7.5rem;
  display: inline-flex;
}

.nav-container {
  display: inline-flex;
  align-items: center;
  margin: auto;
}

.nav-list {
  padding-left: 0;
}

.nav-link {
  color: var(--decoration-hover-text-color);
  text-decoration: none;
}

/* .nav-link:hover {
  color: var(--decoration-hover-text-color);
} */

.nav-item {
  display: inline;
  position: relative;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-item::before {
  content: attr(data-text);
  position: absolute;
  z-index: 1;
  color: var(--decoration-text-color);
  pointer-events: none;

  height: 100%;
  overflow: hidden;
  transition: 0.9s ease-out height;
}

.nav-item:hover::before {
  height: 0;
}

.nav-logo-img {
  width: 175px;
  position: relative;
  top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  transition: 0.5s ease-out transform;
}

.nav-logo-img:hover {
  transform: scale(1.05);
}

.hamburger-container {
  display: none;
}

.bar {
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--decoration-text-color);
  border-radius: 5px;
}

/* Responsive based on media queries for screen size */
@media only screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-list.active {
    left: 0;
  }

  .nav-list {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}
