.book-container {
  background: url("https://i.imgur.com/0kjMcUe.png");
  /* filter: brightness(0.95) sepia(30%) saturate(80%);
   */
  filter: brightness(0.95) sepia(30%) saturate(100%) hue-rotate(-10deg);
  height: 100vh;
  overflow: auto;
}

.book-content-container {
  background-image: linear-gradient(#5c5c5c, #d3d3d3);
  background-size: 1px 100%;
  background-repeat: no-repeat;
  background-position: center center;

  display: grid;
}

.book-left-page {
}

.book-right-page {
}

@media (min-width: 850px) {
  .book-content-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
