@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.chipinput-styling {
  /* background: var(--form-bg-color);
  color: var(--body-text-color); */

  border: 2px solid var(--body-text-color);
  background-color: transparent;
  color: var(--body-text-color);

  font-family: "Quicksand", sans-serif !important;
  border-radius: 20px;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.chipinput-styling input {
  font-family: "Quicksand", sans-serif !important;
  width: 100% !important;
  z-index: 100000000 !important;
}

.chipinput-styling label {
  margin-left: 0.75rem;
  color: var(--body-text-color);
}

.chipinput-styling .Mui-focused {
  color: var(--body-text-color) !important;
}

.chipinput-styling .MuiInputBase-root {
  padding: 0.5rem 0rem;
  border: none !important;
  margin-left: 1rem;
}

.chipinput-styling .MuiAutocomplete-endAdornment {
  right: 35px !important;
}

.chipinput-styling .MuiFormControl-root:hover {
  background-color: rgba(0, 0, 0, 0.09) !important;
  transition: 0.4s;
}

.chipinput-styling .MuiFormControl-root {
  transition: 0.4s;
}

.chipinput-styling .MuiInputBase-root:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.chipinput-styling input:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.chipinput-styling .MuiChip-filled {
  background-color: rgba(249, 209, 116, 0.162) !important;
}
